/**  PAGINA INDEX**/
/* GENERALES*/
.container {
  background-color: rgb(94, 85, 85);
  margin: 0;
  padding: 0;
}

.whatsapp {
  width: 5rem;
  height: 5rem;
  display: flex;
  position: fixed;
  z-index: 3;
  bottom: 0%;
  right: 0%;
}

main h2 {
  color: #fff;
}

body {
  background-color: rgb(94, 85, 85);
}

main {
  background-color: rgb(94, 85, 85);
}

/*footer indez */
footer {
  min-height: 500px;
  background-color: rgb(94, 85, 85);
  border-top: 2px solid black;
}
footer .footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  color: #fff;
}
footer .iconos-redes-sociales a {
  background-color: rgb(237, 241, 19);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
footer .iconos-redes-sociales a i {
  color: rgb(86, 83, 83);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

/* footer paginas que no son index*/
.footer-shop {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.footer-shop .footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  color: #fff;
}
.footer-shop .footer-logo {
  height: 4rem;
  width: 4rem;
  margin: 10px;
  background-color: white;
  position: relative;
  align-self: center;
}

/* base pagina grid*/
.grid-content {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  border: 1px solid grey;
  grid-template-areas: "grid-item1 grid-item2 grid-item3 grid-item7 grid-item8" "grid-item1 grid-item4 grid-item5 grid-item6 grid-item9";
}
.grid-content .grid-item1 {
  grid-area: grid-item1;
  border: 1px solid grey;
}
.grid-content .grid-item1 p {
  color: #fff;
}
.grid-content .grid-item2 {
  grid-area: grid-item2;
  border: 1px solid grey;
}
.grid-content .grid-item2 img {
  width: 100%;
  height: 80%;
}
.grid-content .grid-item3 {
  grid-area: grid-item3;
  border: 1px solid grey;
}
.grid-content .grid-item3 img {
  width: 100%;
  height: 80%;
}
.grid-content .grid-item4 {
  grid-area: grid-item4;
  border: 1px solid grey;
}
.grid-content .grid-item4 img {
  width: 100%;
  height: 80%;
}
.grid-content .grid-item5 {
  grid-area: grid-item5;
  border: 1px solid grey;
}
.grid-content .grid-item5 img {
  width: 100%;
  height: 80%;
}
.grid-content .grid-item6 {
  grid-area: grid-item6;
  border: 1px solid grey;
}
.grid-content .grid-item6 img {
  width: 100%;
  height: 100%;
}
.grid-content .grid-item7 {
  grid-area: grid-item7;
  border: 1px solid grey;
}
.grid-content .grid-item7 img {
  width: 100%;
  height: 100%;
}
.grid-content .grid-item8 {
  grid-area: grid-item8;
  border: 1px solid grey;
}
.grid-content .grid-item8 img {
  width: 100%;
  height: 100%;
}
.grid-content .grid-item9 {
  grid-area: grid-item9;
  border: 1px solid grey;
}
.grid-content .grid-item9 img {
  width: 100%;
  height: 100%;
}

/*pagina nosotros con grid */
.grid-conteiner2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-area: "grid-itema grid-itemb";
}
.grid-conteiner2 .grid-itema {
  grid-area: grid-itema;
  grid-column: 1/2;
}
.grid-conteiner2 .grid-itemb {
  grid-area: grid-itemb;
  grid-column: 2/3;
}

header {
  background-color: rgb(94, 85, 85);
  /*navbar*/
}
header .navbar {
  background-color: rgb(94, 85, 85);
  color: white;
}
header .navbar .navbar-contenedor .navbar-brand {
  color: white;
  padding: 10px;
  margin: 10px;
}
header .navbar .navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
header .navbar .navbar-collapse .nav-item .nav-link:hover {
  color: red;
}
header .navbar .navbar-collapse .nav-item .nav-link {
  color: rgb(203, 212, 220);
  align-items: center;
  justify-content: center;
  display: flex;
}

/* CARRUSEL*/
.carrusel-main {
  background-color: rgb(94, 85, 85);
}

/* Cards*/
.seccion-card {
  background-color: rgb(94, 85, 85);
  margin: 10px;
  padding: 10px;
}
.seccion-card .col .card .card-body .card-title {
  font-size: 1.5rem;
}

.seccion-video {
  background-color: rgb(94, 85, 85);
  max-width: 100%;
  width: 100%;
}
.seccion-video .video-contenedor {
  margin: 10px;
  padding: 10px;
  align-items: stretch;
}
.seccion-video .video-contenedor .row .video-item .videos {
  background-color: rgb(94, 85, 85);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.seccion-video .video-contenedor .row .video-no .videos2 {
  background-color: rgb(94, 85, 85);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* cards de la shop*/
.grid-content .imagenes .contenido {
  display: block;
  justify-content: center;
  align-items: center;
}
.grid-content .imagenes .contenido img {
  max-width: 90%;
  max-height: 70%;
  border-radius: 5px;
  margin: 5px;
  align-items: center;
  margin-left: 10px;
}
.grid-content .imagenes .contenido p {
  margin-top: 10px;
  text-align: center;
  color: white;
}
.grid-content .imagenes .contenido .producto {
  margin-left: 10px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: black 5px;
}
.grid-content .imagenes:hover {
  background-color: black;
  color: white;
}

/* Pagina contactos*/
.content .content-2 h2 {
  color: #fff;
}
.content .content-2 .contacto {
  color: #fff;
}
.content .content-2 fieldset legend {
  color: #fff;
}
.content .content-2 fieldset div .labeltext {
  color: #fff;
}

/* Pagina de registro*/
main .content form fieldset legend {
  color: #fff;
}
main .content form fieldset .labeltext {
  color: #fff;
}

/* pagina de nosotros*/
.grid-conteiner2 .grid-itemb .nosotrosh2 {
  justify-content: center;
  margin: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.grid-conteiner2 .grid-itemb .historia {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5%;
  color: #fff;
  padding-top: 2rem;
}

/* pagina de registro*/
main .registrofotos {
  display: flex;
}
main .registrofotos .modelo {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50%;
}
main .registrofotos .modelo1 {
  height: 50%;
  width: 50%;
}

.grid-conteiner2 .grid-itema img {
  z-index: 1;
}

/* Pagina contactos*/
.content .content-2 h2 {
  color: #fff;
}
.content .content-2 .contacto {
  color: #fff;
}
.content .content-2 fieldset legend {
  color: #fff;
}
.content .content-2 fieldset div .labeltext {
  color: #fff;
}

/* Pagina de registro*/
main .content form fieldset legend {
  color: #fff;
}
main .content form fieldset .labeltext {
  color: #fff;
}

/* pagina de nosotros*/
.grid-conteiner2 .grid-itemb .nosotrosh2 {
  justify-content: center;
  margin: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.grid-conteiner2 .grid-itemb .historia {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5%;
  color: #fff;
  padding-top: 2rem;
}

@media screen and (max-width: 500px) {
  .row .video-no {
    display: none;
  }
  .grid-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 20%);
    grid-template-areas: "grid-item1 grid-item1" "grid-item2 grid-item3" "grid-item4 grid-item5" "grid-item6 grid-item7" "grid-item8 grid-item9";
  }
  .grid-content .grid-item1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .grid-conteiner2 {
    display: flex;
    justify-content: center;
  }
  .grid-itema img {
    display: none;
  }
  .imagenes img {
    width: 70%;
    height: 50%;
  }
  .imagenes {
    display: flex;
    justify-content: center;
  }
  .grid-conteiner2 {
    display: flex;
    justify-content: center;
  }
  .grid-itema img {
    display: none;
  }
  .imagenes:hover {
    background-color: black;
    color: white;
  }
}
@media screen and (max-width: 1077px) {
  .grid-conteiner2 {
    display: flex;
    justify-content: center;
  }
  .grid-itema img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
