$color-fondo:rgb(94, 85, 85);

header {
    background-color: $color-fondo;
/*navbar*/
.navbar {
    background-color: $color-fondo;
    color: white;
    .navbar-contenedor .navbar-brand {
        color:white;
        padding: 10px;
        margin: 10px;
    }
    .navbar-collapse{
        align-items:center;
        justify-content:space-between;
        .nav-item {
            .nav-link:hover{
                color: red;
                margin: 15px;
                transition: 1s;
            }
            .nav-link{
                color: rgb(203, 212, 220);
                align-items: center;
                justify-content: center;
                display: flex;
            }
         }
        }
    }
}
