/* pagina de registro*/
main {
 
    .registrofotos{
        display: flex;
        
        .modelo{
            margin: 0;
            padding: 0;
            width: 50%;
            height: 100%;
        }
    }
}
.grid-conteiner2{
    .grid-itema{
        img{
            z-index: 1;
        }
    }
}
