
/* Pagina contactos*/
.content{
    .content-2{
        h2{
            color: #fff;
        }
        .contacto {
            color: #fff;
        }
            fieldset{
                legend{
                    color: #fff;
                }
                div{
                    .labeltext{
                        color: #fff;
                    }
                }
            }
        
    }
}
/* Pagina de registro*/
main {
    .content{
        form{
            fieldset{
                legend{
                    color: #fff;
                }
                .labeltext{
                    color: #fff;
                }
            }
        }
    }
}