
@media screen and (max-width:500px){
    .row .video-no {
        display: none;
    }
    .grid-content{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(5,20%);
        grid-template-areas: 
        "grid-item1 grid-item1"
        "grid-item2 grid-item3"
        "grid-item4 grid-item5"
        "grid-item6 grid-item7"
        "grid-item8 grid-item9";
    }
    .grid-content .grid-item1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .grid-conteiner2{
        display: flex;
        justify-content: center;
    }
    .grid-itema img {
        display: none;
    }

    .imagenes img {
        width: 70%;
        height: 50%;
    }

    .imagenes {
        display: flex;
        justify-content: center;
    }
.grid-conteiner2{
    display: flex;
    justify-content: center;
    
}
.grid-itema img {
    display: none;
}
    .imagenes:hover {
        background-color: black;
        color: white;
    }
}
@media screen and (max-width:1077px){
    .grid-conteiner2{
        display: flex;
        justify-content: center;
    }
    .grid-itema img {
        display: none;
    }
}
